body {
    font-family: "Raleway", sans-serif;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

}

.header__logo {
    width: 100px;
    height: 40px;
}

.nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
    list-style: none;
    margin-top: 0;
}

.nav__list__item {
    padding-top: 17px;
}

.nav__list__item--active {
    border-top: solid blue;
    padding-top: 13px;
}

.nav__link {
    margin:0 30px;
    text-decoration: none;
    color: black;
}
.nav__link--active {
    color: blue;
}

.header__link {
    margin: auto 0 auto 30px;
    text-decoration: none;
    color: blue;
}